{% extends "base.html" %}

{% block content %}
    <div class="pull-right" style="margin-top: 10px">
        <a class="btn btn-danger btn-sm text-right" href="{% url 'logout' %}">
            Salir <i class="fa fa-sign-out"></i>
        </a>
    </div>
    <h1>Retrospective App <small>Sistemas de información</small></h1>
    <hr>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Planificaciones</div>
                {% if plannings %}
                <table class="table table-bordered">
                    {% for p in plannings %}
                        <tr>
                            <td>
                                <a href="#">{{ p.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <div class="panel-body text-danger text-center">
                        No existen planificaciones registradas.
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Retrospectivas</div>
                {% if retrospectives %}
                <table class="table table-bordered">
                    {% for r in retrospectives %}
                        <tr>
                            <td>
                                <a href="{% url 'retrospective' id_retro=r.id %}">{{ r.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <div class="panel-body text-danger text-center">
                        No existen retrospectivas registradas.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
