{% extends "base.html" %}

{% block content %}
    <div class="pull-right" style="margin-top: 10px">
        <a class="btn btn-danger btn-sm text-right" href="{% url 'logout' %}">
            Salir <i class="fa fa-sign-out"></i>
        </a>
    </div>
    <h1>Editando retrospectiva:</h1>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Lo bueno:</h2>
                {{ form.good }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Lo malo:</h2>
                {{ form.bad }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Sugerencias:</h2>
                {{ form.suggestions }}
            </div>
        </div>
        <hr>
        <input class="btn btn-success" type="submit" value="Actualizar">
    </form>

{% endblock %}