{% extends "base.html" %}
{% block nav %}
{% load static %}
    <div class="text-center">
        <h1>Planner App</h1>
        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="" width="70%"><br>PlannerApp
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row login-panel" style="padding-top: 20px">
        <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Ingreso de usuarios</h4>
                </div>
                <div class="panel-body">
                    <form method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        {% if message %}
                            <p class="text-danger">{{ message }}</p>
                        {% endif %}
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">
                                Ingresar <i class="fa fa-sign-in"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
