{% extends "base.html" %}

{% block nav %}
    {% include 'includes/menu.html' %}
{% endblock %}
{% block content %}
    <h1>Planificación: {{ planning.name }}</h1>
    <hr>
    {% include 'includes/messages.html' %}
    <div class="row">
        <div class="content-bordered">
            <div class="text-right" style="vertical-align: middle">
                <a href="{% url 'index' %}" class="btn btn-default btn-sm">
                    <i class="fa fa-reply"></i> Volver
                </a>
                <a href="{% url 'planning-edit' planning.id %}" class="btn btn-primary btn-sm">
                    <i class="fa fa-edit">Editar</i>
                </a>
                <button class="btn btn-default btn-sm clipboard" data-clipboard-text='{{ planning.content }}'>
                    Copiar HTML <i class="fa fa-code" title="Copiar al portapapeles"></i>
                </button>
            </div>
            {{ planning.content|safe }}
        </div>
    </div>
    <br>
    <a href="{% url 'index' %}" class="btn btn-default btn-sm">
        <i class="fa fa-reply"></i> Volver
    </a>

    <a href="{% url 'planning-edit' planning.id %}" class="btn btn-primary btn-sm">
        <i class="fa fa-edit">Editar</i>
    </a>

    {% endblock %}