{% extends "base.html" %}

{% block nav %}
    {% include 'includes/menu.html' %}
{% endblock %}
{% block content %}
    <h1>Crear retrospectiva:</h1>
    <form action="" name="register_retro_user" method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Lo bueno:</h2>
                {% if form.good.errors %}
                    <div class="alert-danger">{{ form.good.errors }}</div>
                {% endif %}
                {{ form.good }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Lo malo:</h2>
                {% if form.bad.errors %}
                    <div class="alert-danger">{{ form.bad.errors }}</div>
                {% endif %}
                {{ form.bad }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h2>Sugerencias:</h2>
                {% if form.suggestions.errors %}
                    <div class="alert-danger">{{ form.suggestions.errors }}</div>
                {% endif %}
                {{ form.suggestions }}
            </div>
        </div>
        <hr>
        <input class="btn btn-success" type="submit" value="Guardar" />
    </form>
{% endblock %}